body
{
    background-color: #404040;
    font-family: 'Ubuntu', sans-serif;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo
{
    color: white;
    margin-top: 20px;
    font-size: 44px;
    letter-spacing: 3px;
    font-weight: 700;
}

#menu
{
    color: white;
    background-color: #303030;
    padding: 10px;
    margin-top: 20px;
    opacity: 0.8;
}

.option
{
    float: left;
    padding: 10px;
    border-right: 2px dotted #444444;
    height: 25px;
    font-size: 18px;
}

.option:hover
{
    cursor: pointer;
    background-color: black;
}

#topbar
{
    background-color: rgb(233, 216, 143);
    margin-top: 20px;
}

#topbarL
{
    float: left;
    border-right: 3px dotted black;
    width: 200px;
}

#topbarR
{
    float: left;
    width: 600px;
    background-color: bisque;
    margin: 15px;
}