body
{
    background-color: #404040;
    font-family: 'Ubuntu', sans-serif;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo
{
    color: white;
    margin-top: 20px;
    font-size: 44px;
    letter-spacing: 3px;
    font-weight: 700;
}

#topbar
{
    background-color: rgb(144, 230, 118);
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 20px;
    height: 180px;
}

#topbarL
{
    float: left;
    border-right: 2px dotted black;
    width: 138px;
    text-align: center;
    padding: 20px;
}

#topbarR
{
    float: left;
    width: 740px;
    padding: 20px;
    font-size: 17px;
    text-align: justify;
}

#sidebar
{
    float: left;
    width: 158px;
    padding: 20px;
    background-color: #cccccc;border-right: 2px dotted black;
    text-align: center;
    min-height: 800px;
}

.optionL
{
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px dotted #000000;
}

#content
{
    float: left;
    width: 720px;
    background-color: #eee7e7;
    min-height: 760px;
    padding: 40px;
    text-align: justify;
}

#dottedline
{
    border-bottom: 2px dotted #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.empty
{
    clear: both;
}

#footer
{
	text-align: center;
    font-size: 22px;
    margin-top: 25px;
    background-color: rgb(144, 230, 118);
    padding: 20px;
}

.bigtitle
{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
}

.smalltitle
{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
}

.wishes
{
    text-align: center;
    line-height: 200%;
    font-size: 20px;
}